/*--------inicia  recuadro 4-----------*/

#divCintaAzulMadre {
    width: 150px;
    height: 16px;
    background: #95a79d;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
    padding-top: 2px;
}

#divCintaAzulMadre {
    width: 130px;
    height: 16px;
    background: #95a79d;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
    padding-top: 2px;
}
/*--------*/
#divTextoNombreMadre {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 200px;
    height: 12px;
    font-size: 10px;
    text-align: center;
}

#divTextoAppMadre{
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: 12px;
    font-size: 10px;
    text-align: left;
}

#divTextoApmMadre{
    position: absolute;
    top: 40px;
    left: 190px;
    width: 200px;
    height: 12px;
    font-size: 10px;
    text-align: center;
}

#divRayaNombreCompletoMadre {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 12px;
    font-size: 10px;
    text-align: left;
}



#divTextoAyudaAppMadre {
    width: 130px;
    height: 20px;
    position: absolute;
    top: 53px;
    left: 0;
    font-size: 6px;
}

#divTextoAyudaApmMadre {
    width: 130px;
    height: 20px;
    position: absolute;
    top: 53px;
    left: 250px;
    font-size: 6px;
}

#divTextoAyudaNombreMadre {
    width: 130px;
    height: 20px;
    position: absolute;
    top: 53px;
    left: 500px;
    font-size: 6px;
}


/*--------*/

#divLetreroCurpMadre {
    position: absolute;
    top: 65px;
    left: 0;
    width: 60px;
    height: 20px;
    font-size: 10px;
}

#divRayaCurpMadre {
    position: absolute;
    top: 65px;
    left: 60px;
    width: 238px;
    height: 12px;
    font-size: 10px;
}

#divFechaNacLetrasMadre{
    position: absolute;
    top: 65px;
    left: 320px;
    width: 120px;
    height: 20px;
    font-size: 10px;
}

#divDatoFechaMadre{
    position: absolute;
    top: 65px;
    left: 455px;
    width: 180px;
    height: 12px;
    font-size: 10px;
}

#divAyudaFechaMadre{
    width: 200px;
    height: 15px;
    position: absolute;
    top: 80px;
    left: 520px;
    font-size: 5px;
}

#divPaisDeNacimientoMadre{
    position: absolute;
    top: 88px;
    left: 0;
    width: 110px;
    height: 12px;
    font-size: 10px;
}

#divRayaPaisDeNacimientoMadre{
    position: absolute;
    top: 88px;
    left: 120px;
    width: 150px;
    height: 12px;
    font-size: 10px;
}

#divLetreroNivelEstudiosMadre{
    position: absolute;
    top: 88px;
    left: 310px;
    width: 110px;
    height: 12px;
    font-size: 10px;
}

#divRayaNivelEstudioMadre{
    position: absolute;
    top: 88px;
    left: 430px;
    width: 205px;
    height: 12px;
    font-size: 10px;
}

#divViveConElAlumnoPadreMadre {
    width: 150px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 0;
    font-size: 10px;
}

#divRecuadroSiVivePadre_Madre {
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    position: absolute;
    top: 106px;
    left: 160px;
    text-align: center;
}

#divLetreroSiVivePadre_Madre {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 180px;
}

#divRecuadroNoViveMadre_Madre {
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    position: absolute;
    top: 106px;
    left: 210px;
    text-align: center;
}

#divLetreroNoMadre_Madre {
    width: 15px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 230px;
}

#divAyudaViveConElAlumnoMadre{
    width: 150px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 260px;
    font-size: 6px;
}

#divEsTutorMadre{
    width: 70px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 400px;
    font-size: 10px;
}

#divRecuadroEsTutorMadre{
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    position: absolute;
    top: 106px;
    left: 480px;
    text-align: center;
}

#divEsFinadoMadre{
    width: 70px;
    height: 13px;
    position: absolute;
    top: 106px;
    left: 530px;
    font-size: 10px;
}

#divRecuadroEsFinadoMadre{
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    position: absolute;
    top: 106px;
    left: 600px;
    text-align: center;
}

/*------------///////////////--------------*/

#divSeccionDomicilioMadre {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 125px;
    left: 0;
    font-size: 10px;
    font-weight: bolder;
}

/*+++++++++++++++*/

#divLetreroPaisResidenciaMadre {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 140px;
    left: 0;
    font-size: 10px;
}

#divRayaPaisResidenciaMadre {
    width: 220px;
    height: 12px;
    position: absolute;
    top: 140px;
    left: 110px;
    font-size: 10px;
}

#divEntidadLetreroMadre {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 140px;
    left: 370px;
    font-size: 10px;
}

#divRayaEntidadMadre {
    width: 215px;
    height: 12px;
    position: absolute;
    top: 140px;
    left: 420px;
    font-size: 10px;
}

/*+++++++++++++++*/

#divMunicipioLetreroMadre {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 160px;
    left: 0;
    font-size: 10px;
}

#divRayaMunicipioMadre {
    width: 265px;
    height: 12px;
    position: absolute;
    top: 160px;
    left: 70px;
    font-size: 10px;
}

#divLocalidadLetreroMadre {
    position: absolute;
    top: 160px;
    left: 350px;
    font-size: 10px;
    width: 60px;
    height: 12px;
}

#divRayaLocalidadMadre {
    position: absolute;
    top: 160px;
    left: 420px;
    font-size: 10px;
    width: 215px;
    height: 12px;
}

/*+++++++++++++++*/

#divCpLetreroMadre {
    position: absolute;
    top: 180px;
    left: 0;
    font-size: 10px;
    width: 20px;
    height: 12px;
}

#divRayaCpMadre {
    position: absolute;
    top: 180px;
    left: 30px;
    font-size: 10px;
    width: 110px;
    height: 12px;
}

#divLetreroColoniaMadre {
    position: absolute;
    top: 180px;
    left: 185px;
    font-size: 10px;
    width: 50px;
    height: 12px;
}

#divRayaColoniaMadre {
    position: absolute;
    top: 180px;
    left: 250px;
    font-size: 10px;
    width: 385px;
    height: 12px;
}

/*+++++++++++++++*/

#divLetreroCalleMadre{
    position: absolute;
    top: 200px;
    left: 0;
    width: 40px;
    height: 12px;
    font-size: 10px;
}

#divRayaCalleMadre{
    position: absolute;
    top: 200px;
    left: 40px;
    width: 280px;
    height: 12px;
    font-size: 10px;
}

#divLetreroNumExteriorMadre{
    position: absolute;
    top: 200px;
    left: 330px;
    font-size: 10px;
    width: 90px;
    height: 12px;
}

#divRayaNumExteriorMadre{
    position: absolute;
    top: 200px;
    left: 415px;
    font-size: 10px;
    width: 60px;
    height: 12px;
}

#divLetreroNumInteriorMadre{
    position: absolute;
    top: 200px;
    left: 490px;
    font-size: 10px;
    width: 90px;
    height: 12px;
}

#divRayaNumInteriorMadre{
    position: absolute;
    top: 200px;
    left: 570px;
    font-size: 10px;
    width: 65px;
    height: 12px;
}

/*+++++++++++++++*/

#divLetreroTelefonoMadre {
    position: absolute;
    top: 220px;
    left: 0;
    font-size: 10px;
    width: 60px;
    height: 12px;
}

#divRayaTelefonoMadre {
    position: absolute;
    top: 220px;
    left: 60px;
    font-size: 10px;
    width: 100px;
    height: 12px;
}

#divLetreroCelMadre {
    position: absolute;
    top: 220px;
    left: 180px;
    font-size: 10px;
    width: 100px;
    height: 12px;
}

#divRayaCelMadre {
    position: absolute;
    top: 220px;
    left: 260px;
    font-size: 10px;
    width: 100px;
    height: 12px;
}

#divEmailLetreroMadre {
    position: absolute;
    top: 220px;
    left: 380px;
    font-size: 10px;
    width: 40px;
    height: 12px;
}

#divRayaEmailMadre {
    position: absolute;
    top: 220px;
    left: 420px;
    font-size: 10px;
    width: 215px;
    height: 12px;
}

/*+++++++++++++++*/

#divOcupacionMadre {
    position: absolute;
    top: 240px;
    left: 0;
    font-size: 10px;
    width: 50px;
    height: 12px;
}

#divRayaOcupacionMadre {
    position: absolute;
    top: 240px;
    left: 70px;
    font-size: 10px;
    width: 250px;
    height: 12px;
}

#divLetreroHorarioMadre{
    position: absolute;
    top: 240px;
    left: 340px;
    font-size: 10px;
    width: 50px;
    height: 12px;
}

#divRayaHorarioMadre{
    position: absolute;
    top: 240px;
    left: 400px;
    font-size: 10px;
    width: 235px;
    height: 12px;
}

/*++++++++++++++++++*/

#divLetreroTelTrabajoMadre{
    position: absolute;
    top: 260px;
    left: 0;
    font-size: 10px;
    width: 80px;
    height: 12px;
}

#divRayaTelTrabajoMadre{
    position: absolute;
    top: 260px;
    left: 80px;
    font-size: 10px;
    width: 100px;
    height: 12px;
}

#divLetreroExtensionMadre{
    position: absolute;
    top: 260px;
    left: 200px;
    font-size: 10px;
    width: 30px;
    height: 12px;
}

#divRayaExtensionMadre{
    position: absolute;
    top: 260px;
    left: 230px;
    font-size: 10px;
    width: 100px;
    height: 12px;
}

#divLetreroEmailTrabajoMadre{
    position: absolute;
    top: 260px;
    left: 350px;
    font-size: 10px;
    width: 90px;
    height: 12px;
}

#divRayaEmailTrabajoMadre{
    position: absolute;
    top: 260px;
    left: 440px;
    font-size: 10px;
    width: 195px;
    height: 12px;
}
